.dash_short_list {
  .list-group-item-text {
    max-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .item-properties{
    margin-top:5px;
  }
}
#activity_chart{
  overflow: auto;
  overflow-y: hidden;
}
.panel {
  margin-top: 20px;
  fieldset.select, fieldset.dateinput {
    float: left;
    width: 33%;
    select, input {
      width: 90%;
    }
  }
  .panel-body{
    .well{
      width: 100%;
      margin: 0 auto;
      height: auto;
      overflow: hidden;
      li{
        padding:5px;
      }
    }
    .description{
      margin:20px auto;
    }
  }
  form{
    fieldset{
      .errorlist{
        list-style-type: none;
        font-weight: bold;
        color: #4c4c4c;
      }
    }
    fieldset.error{
      input, textarea, select, iframe{
        border: 1px solid #ff0000 !important;
      }
    }
  }
}

.btn.loading{
  background-image: url("/static/core/img/loading.png");
  background-position: center center;
  background-size: 50px;
  color: transparent;
  span{
    background: transparent;
  }
}
.comments-tabs{
  .nav-tabs{
     li a{
       border-bottom: none;
     }
  }
  .tab-content{
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: none;
    #comments-list{
      .media{
        position: relative;
        .well{
          overflow: hidden;
          padding-bottom: 12px;
        }
        .media-heading{
          h5{
            color: #555;
            font-weight: bold;
            margin: 5px auto 15px;
            text-transform: uppercase;
          }
        }
        .avatar{
          width: 75px;
          height: 75px;
          margin-right: 10px;
          overflow: hidden;
          text-align: center;
          img{
            max-width: 75px;
          }
        }
        .media-date{
          position:absolute;
          right: 25px;
          top: 25px;
          font-size:14px;
          font-weight: bold;
        }
        .media-last-modified{
          font-style: italic;
          text-align: right;
        }
        .action{
           button{
             float:right;
             margin: 0 5px;
           }
        }
      }
    }
  }
}
