{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'core/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/style/signin.css' %}">
</head>
<body>
{% block content %}

{% endblock%}
<script src="{% static 'core/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'core/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script  src="{% static '/static/core//bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js' %}"></script>
</body>
</html>