{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'core/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/style/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'core/style/signin.css' %}">
    <link rel="stylesheet" href="{% static 'core/style/style.css' %}">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
{% include 'includes/navbar.html' %}
{% block content %}

{% endblock%}
<script src="{% static 'core/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'core/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'core/js/core.js' %}"></script>
</body>
</html>